@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

body {
  font-family:sans-serif;
  font-weight: normal;
  font-size:10pt;
  line-height: 150%;
}

h1	{
	font-size: 150%;
  font-weight:normal;
  text-transform: lowercase;
}

h3	{
	font-size: 100%;
}

span.column {
	display: block;
	border: solid 2px #c0c0c0;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

p.subhead {
  font-size: 100%;
}

.pronunciation:before, .pronunciation:after {
  content: "|";
}

.pronunciation {
  color: #666;
}

.part_of_speech {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
}

.etymology {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-style: italic;
  color: #666;
}

.specialty {
  margin-left: 0.5em;
  color: #666;
}